<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>File Uploader</title>
  </head>
  <body>
    <%- include('partials/leftAside.ejs') %>
    <main class="signup-container">
      <h2>register</h2>
      <%- include('partials/errors.ejs') %>
      <form action="/sign-up" method="post">
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          name="username"
          required
          value="<%= locals.userInfo?.username %>"
          placeholder="Choose a username"
        />
        <label for="email">Email:</label>
        <input
          type="email"
          name="email"
          id="email"
          required
          value="<%= locals.userInfo?.email %>"
          placeholder="yourname@example.com"
        />
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
          placeholder="Password (min. 5 characters)"
        />
        <label for="confirmPassword">Confirm Password:</label>
        <input
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          required
          placeholder="Confirm password"
        />
        <button type="submit">Sign Up</button>
      </form>
    </main>
    <%- include('partials/rightAside.ejs') %>
  </body>
</html>
